<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="http://www.ivonet.nl/home/contact" target="_blank">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">
                <button class="btn btn-xs btn-link" type="button" data-toggle="button"
                        data-ng-click="toggleDebug()">Debug
                </button>
            </p>
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{title}}!</h1>

        <p>This is a basic Bootstrap theme I used in the seed application.</p>

        <p><a href="theme.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>

    </div>

</div> <!-- /container -->

<pre data-ng-model="debug" data-ng-show="debug">{{ data | json }}</pre>
